html,
body {
  @apply font-montserrat bg-bgGradient h-full;
}

h2 {
  @apply text-2xl font-semibold;
}

input:not(.ant-picker .ant-picker-input) {
  padding-left: 16px;
  width: 100%;
  height: 56px;
  border-radius: 16px;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  resize: none;
  background-color: white;
}

select {
  @extend input;
  -webkit-appearance: none;
}

textarea {
  padding: 16px;
  border-radius: 16px;
  box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
  resize: none;
}

.wrapper {
  max-width: 1519px;
  width: 100%;
  margin-inline: auto;
}

.active {
  padding: 4px 16px;
  border: 2px solid white;
  border-radius: 32px;
}

.ant-picker {
  all: unset;
}

.ant-picker-panel-container .ant-picker-content th {
  color: #ff8a00;
  font-size: 24px;
  font-weight: 700;
}

.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #ff8a00 !important;
  border-radius: 50% !important;
}

.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid #ff8a00 !important;
  border-radius: 50% !important;
}
.ant-picker-panel-container .ant-picker-panel {
  width: 418px;
  padding: 15px;
}
.ant-picker-panel-container .ant-picker-date-panel {
  width: 100%;
}

.ant-picker-panel-container .ant-picker-body > .ant-picker-content {
  width: 100%;
}
